<%- include('header'); -%>

    <div class='content'>
        <h1>Name</h1>
        <h3>John Doe</h3>
        <br>
        <h1>Address</h1>
        <h3>District x; Street y; Appartment n17</h3>
        <br>
        <h1>Phone</h1>
        <h3>123456789</h3>
        <br>
        <h1>Email</h1>
        <h3>johndoe@gmail.com</h3>
    </div>

    <%- include('footer'); -%>