<%- include('header'); -%>

    <div class='content'>
        <h1>
            <a href="/api/login/<%= username %>">
                Hi, <%= username %>!
            </a>
        </h1>
        <h3>Would you like to browse the <a href="/api/catalog">catalog</a>?</h3>
        <h3>Or would you like to view your cart items?</h3>
        <br>
    </div>

    <%- include('footer'); -%>