<%- include('header'); -%>

    <div class='content'>
        <h2>
            <%= message %> please <a href="/register">try again</a>
        </h2>
        <br>
    </div>

    <%- include('footer'); -%>