<%- include('header'); -%>

    <div class='content'>
        <form action="/api/register" method="post">
            <label for="username">Username:</label>
            <br>
            <input type="text" name="username" placeholder="Name" required autofocus><br>
            <label for="password">Password:</label>
            <br>
            <input type="password" name="passwsord" placeholder="Password" required><br>
            <label for="society">Society:</label>
            <br>
            <input type="text" name="society" placeholder="Society" required><br>
            <label for="contact">Contact:</label>
            <br>
            <input type="text" name="contact" placeholder="Contact" required><br>
            <label for="address">Address:</label>
            <br>
            <input type="text" name="address" placeholder="Address" required><br>
            <label for="zipcode">Zipcode:</label>
            <br>
            <input type="text" name="zipcode" placeholder="Zipcode" required><br>
            <label for="city">City:</label>
            <br>
            <input type="text" name="city" placeholder="City" required><br>
            <label for="fax">Fax number:</label>
            <br>
            <input type="text" name="fax" placeholder="Fax number" required><br>
            <label for="max_outstanding">Maximum Outstanding:</label>
            <br>
            <input type="text" name="max_outstanding" placeholder="Maximum Outstanding" required><br>
            <button type="submit">Register</button><br>
        </form>
    </div>

    <%- include('footer'); -%>